* {
    box-sizing: border-box;
}

html {
    height: 100vw;
}

@font-face {
    font-family: "rick-and-morty";
    src: url(../../assets/fonts/rick-and-morty.ttf);
}

@font-face {
    font-family: "get-schwifty";
    src: url(../../assets/fonts/get-schwifty.ttf);
}

@font-face {
    font-family: "adult-swim-font";
    src: url(../../assets/fonts/adult-swim-font.ttf);
}

body {
    background: url('../../assets/img/rick\ and\ morty\ bg.png') rgb(13, 0, 71);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    font-family: "rick-and-morty";
}

