#main-char {
    display:flex;
    flex-direction: column;
    height: auto;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid black;
    object-fit: contain;
}

#main-img-container {
    height: auto;
    width:auto;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
}

.main-img {
    height: 50vh;    
    -webkit-filter: drop-shadow(3px 3px 4px gray);
    filter: drop-shadow(3px 3px 4px gray);
}

.list-container {
    height: auto;
    width: auto;
}

.title {
    text-align: center;
    padding: 10px 10px 0px 10px;
}

.first {
    text-align: center;
    font-family: "adult-swim-font";
    font-size: 200%;
}

.character {
    font-family: "adult-swim-font";
    text-align: center;
    font-size: 400%;
}

.quote {
    font-family: "rick-and-morty";
    text-align: center;
    font-size: 200%;
    margin-top: 10px;
    line-height: .85em;
}

.personality {
    border: solid 1px black;
    text-align: center;
    margin-top: 15px;
    padding: 6px;
    width: 60vw;
}

h2 {
    font-family: "adult-swim-font";
    font-size: 200%;
    margin-bottom: 6px;
}

.description {
    font-family: "adult-swim-font";
    line-height: 1.2em;
    font-size: 110%;
    margin-top: 20px;
}

.details {
    text-align: center;
    margin-top: 25px;
    font-size: 150%;
}


@media (max-width: 700px) {
    
    #main-img-container {
        width: auto;
    }
    
    .list-container {
        margin-bottom: 5%;
        height: auto;
        width: auto;
    }
    
    .first {
        font-size: 150%;
    }
    
    .character {
        font-size: 300%;
    }
    
    .quote {
        font-size: 150%;
        margin-top: 8px;
        line-height: .8em;
    }
    
    .personality {
        margin-top: 3px;
        padding: 5px;
    }
    
    h2 {
        font-size: 150%;
        margin-bottom: 3px;
    }
    
    .description {
        line-height: 1.1em;
        font-size: 85%;
        margin-top: 15px;
    }
    
    .details {
        text-align: center;
        margin-top: 18px;
        font-size: 115%;
    }
}


@media (max-width: 450px) {
    
    .first {
        font-size: 120%;
    }
    
    .character {
        font-size: 200%;
    }
    
    .quote {
        font-size: 100%;
        margin-top: 3px;
        line-height: .8em;
    }
    
    .personality {
        margin-top: 6px;
        padding: 3px;
    }
    
    h2 {
        font-size: 100%;
        margin-bottom: 4px;
    }
    
    .description {
        line-height: 0.8;
        font-size: 70%;
        margin-top: 15px;
    }
    
    .details {
        text-align: center;
        margin-top: 8px;
        font-size: 100%;
    }
}