#main-char {
    display:flex;
    flex-direction: row;
    height: auto;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.75);
    border:1px solid black;
}

.main-img-container {
    /* width: 3; */
}

#mainchar > div:first-of-type {
    display: flex;
    flex-direction: row;
}

.main-img {
    max-height: 500px;
    -webkit-filter: drop-shadow(4px 4px 5px gray);
    filter: drop-shadow(4px 4px 5px gray);
}

.list-container {
    width: 50%;
}

.title {
    text-align: center;
}

.first {
    text-align: center;
    font-family: "adult-swim-font";
    font-size: 200%;
}

.character {
    font-family: "adult-swim-font";
    text-align: center;
    font-size: 400%;
}

.quote {
    font-family: "rick-and-morty";
    text-align: center;
    font-size: 200%;
    margin-top: 10px;
}

.personality {
    border: solid 1px black;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
}

h2 {
    font-family: "adult-swim-font";
    font-size: 200%;
}

.description {
    font-family: "adult-swim-font";
    font-size: 125%;
}

.details {
    text-align: center;
    margin-top: 25px;
    font-size: 150%;
}

