.wrapper{
    width:1200px;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    margin:auto;
    margin-top: 50px;

}

#question-header{
    background-color:black;
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-family: "adult-swim-font";
    padding: 10px;
}

#quiz-box{
    border:1px solid black;
    width: 75%;   
}

.quiz-img-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 150px;
    width: 100%;
}

.quiz-image{
    object-fit: cover;
    max-width: 100%;
    max-height: 450px;
    min-height: 450px;
}

#answer-box{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    font-size: 1.5em;

}

#question{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    background-size: cover;
    height:300px;
    color: white;
    font-family: "adult-swim-font";
    line-height: 1.75em;
}

#question span{
    background-color: hsla(0, 0%, 0%, 0.5);
    padding: 20px;
    font-size: 1.3em;
    text-align: center;
    width: 100%;
}

.answer {
    display: flex;
    padding:7px;
}

.answer-input {
    margin-right: 10px;
}

.back-btn {
    background-color: transparent;
    border-color: transparent;
    font-family: "adult-swim-font";
    font-size: 1.5em;
    color: white;
    margin-right: 10px;
}

.next-btn {
    background-color: transparent;
    border-color: transparent;
    margin-left: 10px;
    font-family: "adult-swim-font";
    font-size: 1.5em;
    color: white;
    margin-left: 10px;
}

.back-btn-img {
    width: 150px; 
    transform: scaleX(-1);
}

.next-btn-img {
    width: 150px; 
}