.wrapper{
    width:1000px;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    margin:auto;
    margin-top: 50px;

}

#question-header{
    background-color:black;
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-family: "adult-swim-font";
    padding: 10px;
}

#quiz-box{
    border:1px solid black;
    width: 75%;   
}

.quiz-img-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 150px;
    width: 100%;
    margin-bottom: -24px;
}

.quiz-image{
    object-fit: contain;
    max-width: 100%;
}

#back-button{
    margin:50px;
    background-image: url('../../assets/icons/portal-gun.png');
} 

#forward-button{
    margin:50px;
}

#answer-box{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    font-size: 1.3em;

}

#question{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    background-size: cover;
    height:300px;
    color: white;
    font-family: "adult-swim-font";
    line-height: 1.75em;
}

#question span{
    background-color: hsla(0, 0%, 0%, 0.5);
    padding: 20px;
    font-size: 1.3em;
    text-align: center;
}

.answer {
    padding: 7px;
}