.wrapper{
    width:90%;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    margin:auto;
    margin-top: 30px;
}

.back-btn:hover {
    text-shadow: 
    0 -1px 0px rgb(185, 15, 15),
    -1px 0 0px rgb(219, 47, 47),
    -1px 2px 1px rgb(185, 15, 15),
    -2px 1px 1px rgb(219, 47, 47),
    -2px 3px 2px rgb(185, 15, 15),
    -3px 2px 2px rgb(219, 47, 47),
    -3px 4px 2px rgb(185, 15, 15),
    -4px 3px 3px rgb(219, 47, 47),
    -4px 5px 3px rgb(185, 15, 15),
    -5px 4px 2px rgb(219, 47, 47),
    -5px 6px 2px rgb(185, 15, 15);
    transition-duration: 500ms;
    cursor: pointer;
} 


.next-btn:hover {
    text-shadow: 
    0 1px 0px rgb(92, 185, 15),
    1px 0 0px rgb(124, 219, 47),
    1px 2px 1px rgb(92, 185, 15),
    2px 1px 1px rgb(124, 219, 47),
    2px 3px 2px rgb(92, 185, 15),
    3px 2px 2px rgb(124, 219, 47),
    3px 4px 2px rgb(92, 185, 15),
    4px 3px 3px rgb(124, 219, 47),
    4px 5px 3px rgb(92, 185, 15),
    5px 4px 2px rgb(124, 219, 47),
    5px 6px 2px rgb(92, 185, 15);
    transition-duration: 500ms;
    cursor: pointer;
}

.quiz-buttons-p {
    font-size: 2em;
}

#question-header{
    background-color: hsla(0, 0%, 0%, 0.5);
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-family: "adult-swim-font";
    padding: 10px;
}

#quiz-box {
    width: 100%;
    height: auto;
    object-fit: contain; 
}

.quiz-img-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    width: 100%;
}

.quiz-image {
    object-fit: contain;
    max-width: 100%;
}

#answer-box {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: white;
    font-size: 1.5em;
}

#question {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-size: cover;
    height:auto;
    color: white;
    font-family: "adult-swim-font";
    line-height: 1.75em;
}

#question span{
    background-color: hsla(0, 0%, 0%, 0.5);
    padding: 1.5%;
    font-size: 1.3em;
    text-align: center;
    width: 100%;
}

.answer {
    display: flex;
    padding: 1%;
}

.answer-input {
    margin-right: 1.5%;
}

.back-btn {
    background-color: transparent;
    border-color: transparent;
    font-family: "adult-swim-font";
    font-size: 1.5em;
    color: white;
    margin: 0px 30px 0px 20px;
}

.next-btn {
    background-color: transparent;
    border-color: transparent;
    font-family: "adult-swim-font";
    font-size: 1.5em;
    color: white;
    margin: 0px 20px 0px 30px;
}

.back-btn-img {
    width: 110px; 
    transform: scaleX(-1);
}

.next-btn-img {
    width: 110px; 
}

input[type='radio']:hover{
    cursor: pointer;
}


@media (max-width: 700px) {    
    #question-header {
        font-size: 1.2em;
    }

    #answer-box {
        padding: 1%;
        font-size: 1.3em;
    }
    
    #question {
        line-height: 1.5em;
    }
    
    #question span {
        font-size: 1.1em;
    }

    .back-btn-img {
        width: 60px; 
        transform: scaleX(-1);
    }
    
    .next-btn-img {
        width: 60px; 
    }

    .back-btn {
        font-size: .75em;
        margin: 0px 13px 0px 20px;
    }

    .next-btn {
        font-size: .75em;
        margin: 0px 13px 0px 20px;
    }

}  

@media (max-width: 450px) {

    .back-btn-img {
        width: 40px; 
        transform: scaleX(-1);
    }
    
    .next-btn-img {
        width: 40px; 
    }

    .back-btn {
        font-size: .6em;
    }

    .next-btn {
        font-size: .6em;
    }
}