@font-face {
    font-family: "rick-and-morty";
    src: url(../../assets/fonts/rick-and-morty.ttf);
}

@font-face {
    font-family: "get-schwifty";
    src: url(../../assets/fonts/get-schwifty.ttf);
}

@font-face {
    font-family: "adult-swim-font";
    src: url(../../assets/fonts/adult-swim-font.ttf);
}

body {
    background-color: black;
}

h5 {
    font-family: "get-schwifty";
    font-size: 3em;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 0.001px;
    color: rgb(16, 206, 212);
    text-shadow:
    -1px -1px 0 rgb(252, 255, 63),
    0   -1px 0 rgb(252, 255, 63),
    1px -1px 0 rgb(252, 255, 63),
    1px  0   0 rgb(252, 255, 63),
    1px  1px 0 rgb(252, 255, 63),
    0    1px 0 rgb(252, 255, 63),
   -1px  1px 0 rgb(252, 255, 63),
   -1px  0   0 rgb(252, 255, 63), 
    0 0 12px rgb(60, 253, 26, .7),
    0 0 10px rgb(252, 255, 63, .7);
}

#log-out-container{
    border: none;
    border-radius: 100%;
    width: 20vh;
    height: 20vh;
    max-width: 150px;
    max-height: 150px;
    font-size: 4vh;
    background: url('../../assets/img/smallportal.png');
    background-size: 100%;
    color: white;
    font-family: "adult-swim-font";
    text-shadow: 2px 2px 4px #000000; 
}

#log-out-container:hover {
    animation-name: spin1;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin1 {
    100% { transform: rotate(360deg); }
}

#log-out {
    border: none;
    border-radius: 100%;
    width: 20vh;
    height: 20vh;
    max-width: 150px;
    max-height: 150px;
    font-size: 4vh;
    background: url('../../assets/img/smallportal.png');
    background-size: 100%;
    color: white;
    font-family: "adult-swim-font";
    text-shadow: 2px 2px 4px #000000;
    animation-name: spin2;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;    
}

@keyframes spin2 {
    100% { transform: rotate(360deg); }
}

#log-out:focus {
    outline: 0;
}
 
#log-out:hover {
background-color: rgb(92, 185, 15);
box-shadow: 0px 0px 20px 5px rgb(124, 219, 47);
transition-duration: 1000ms;
}


